.cover-img {
    height: 100vh;
    width: 100vw;

}

.leftmenu {
    background: url(giphy.gif);
    height: 100%;
    width: 100%;

}

#main {
    position: relative;
    margin-top: 75vh;
    margin-left: 46vw;
}

.cover {
    position: fixed;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

#menu-top {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;

    color: rgb(239, 132, 9);
    font-weight: bolder;
}