.cover-img {
    height: 100vh;
    width: 100vw;

}

.leftmenu {
    background: url(giphy.gif);
    height:max-content;
    width: 100%;

}

#main {
    position: relative;
    margin-top: 69vh;
    margin-left: 46vw;
}

.cover {
    position: fixed;
}



#menu-top {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;

    color: rgb(239, 132, 9);
    font-weight: bolder;
}
.image_con{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}
.photo{
    padding: 10vh;
}